body{
    background-color: beige;
    font-family:cursive;
}

.header{
    display: flex;
    align-items: centre;
    justify-content: space-between;
}

.header input{
    height: 25px;
    width: 180px;
    border-radius: 10px;
    margin : 30px ;
    padding : 8px ;
    border: 2px;
}
.jobs {
    padding: 30px;
}

.job-card {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    background: white;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 8px;
}